.App {
  text-align: center;
  font-size: 1em;
}

.App-nav {
  background-color: #EFEFEF;
  text-transform: uppercase;
  padding: 0 5px;
  border: 0 solid #787878;
  border-width: 0 0 1px 0;
}

.App-nav .categories {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.App-nav .categories li {
  display: flex;
  justify-content: center;
  padding: 3px 10px;
}

.App-nav .categories a {
  text-decoration: none;
  font-size: 11px;
  color: #000;
}

.App-nav .categories a:hover {
  text-decoration: underline;
}

.App-nav .categories a:active,
.App-nav .categories a.active {
  font-weight: bold;
  color: orangered;
}

.App-header {
  background-color: #CBE0F7;
  height: 50px;
  display: flex;
  padding: 0 15px;
  border: 0 solid #5991CB;
  border-width: 0 0 1px 0;
}

.App-header .logo {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-wrapper {
  display: flex;
}

.App-sidebar {
  margin: 5px;
  flex: 1 auto;
}

.App-sidebar a,
.App-sidebar button {
  text-decoration: none;
  text-transform: lowercase;
  display: block;
  padding: 4px 0;
  border: 1px solid #C0D8F0;
  color: #369;
  background: #E9F2FC;
  background: linear-gradient(#fff, #E9F2FC);
  margin: 0 0 10px 0;
  cursor: pointer;
  width: 100%;
  box-sizing:content-box;
  font-size: 1em;
}

.App-sidebar a:hover,
.App-sidebar button:hover  {
  color: #fff;
  border: 1px solid #8097AE;
  background: #6497CD;
  background: linear-gradient(#C8DCF0, #6497CD);
}

.App-content {
  margin: 5px;
  flex: 1 auto;
}

.App-content .sortmenu {
  list-style: none;
  display: flex;
  align-self: flex-end;
  margin: -26px 0 0 130px;
  padding: 0;
}

.App-content .sortmenu li {
  display: inline;
  padding: 3px 5px 0;
}

.App-content .sortmenu a {
  background-color: #EFF7FF;
  text-decoration: none;
  padding: 2px 6px 0 6px;
  color: #369;
  font-size: 12px;
  font-weight: bold;
  border: 0 solid #5F99CF;
  border-width: 0 0 1px 0;
}

.App-content .sortmenu a.active {
  color: orangered;
  border: 1px solid #5F99CF;
  border-bottom: 1px solid #FFF;
  background-color: #FFF;
}

.App-content .list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.App-content .list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  margin: 10px;
}

.App-content .post-details {
  margin: 10px;
}

.post-item {
  display: flex;
  flex-direction: row;
  justify-content: initial;
}

.post-item .votes {
  color:#B2B2B2;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  user-select: none;
}

.post-item .votes svg {
  cursor: pointer;
}

.post-item .post {
  margin:0 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: left;
}

.post-item .post a {
  text-decoration: none;
}

.post-item .post a:hover {
  text-decoration: underline;
}

.post-item .post .details,
.post-item .post .details a {
  color:#B2B2B2;
  font-size: 12px;
}

.post-item .post .body {
  margin: 5px 0 20px;
  padding: 10px 15px;
  border: 1px solid  #B1C0FF;
  border-radius: 7px;
}

.post-item .comments .comments-header {
  font-size: 13px;
  display: flex;
  flex-direction: row;
}

.post-item .comments .comments-sorting-img {
  margin: 0 0 0 3px;
}
.post-item .comments .comments-sorting-list {
  margin: 0 0 0 5px;
  padding: 4px 6px;
  background-color: #CBE0F7;
}

.post-item .comments .comments-sorting-list a,
.post-item .comments .comments-sorting-list a:visited {
  color: #000;
}

.post-item .comments ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: space-around;
}

.post-item .comments li {
  margin: 10px 0;
  border: 1px solid #D2D2D2;
  border-radius: 7px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
}

.post-item .comment .title {
  margin: 0 0 0 10px;
}

.post-item .comment .title,
.post-item .comment .title a {
  color:#B2B2B2;
  font-size: 12px;
}

.post-item .comment .author {
  font-weight: bold;
  color: #369;
}

.post-item .comment .body {
  margin: 5px 0;
  border: 0px none #000;
}

input,
select,
textarea,
button {
  display: block;
  margin: 10px 10px 20px;
  font-size: 14px;
  min-width: 250px;
  position: relative;
}

.create-post-details {
  margin: 10px;
  padding: 10px 10px 0;
  border: 1px solid #D2D2D2;
  border-radius: 7px;
  width: fit-content;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  top: 40px;
  left: 200px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
}